body{
    background-color: yellow;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:100vh;
    justify-content: center;

} 
div input{
    width:50px;
    height:50px;
    margin-bottom: 5px;
    border:2px solid;
    border-radius: 10px;
    font-family: bold;
    font-size: 25px;
    text-align: center;
    margin:5px;
    

    
}
#text{
width:235px;
height:50px;
border:solid 2px rgb(19, 17, 16);
text-align: right;
border-radius: 10px;
}

#vinni{
    background-color:black;
    border:solid 2px black;
    box-shadow:0 4px 8px 1px;
    border-radius: 15px;
}
.love:hover{
    background-image: linear-gradient(red,yellow)
}
    h1{
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 0 2px 4px ;
        border-bottom: solid 2px;
        
    }
    h2{
    
        float:left;
    }